! rofi
rofi.eh: 2
rofi.width: 900
rofi.padding: 50
rofi.font: System San Francisco Display 18
rofi.opacity: 90
rofi.lines: 3 
rofi.sidebar-mode: true

!rofi colors
!#002133 #2f343f
#define bg #2f343f
#define fg #ffffff
#define hlbg #2f343f
#define hlfg #98a0b3
! #define bgalt #005580 if needed

! State:          'bg','fg','bgalt','hlbg','hlfg'
rofi.color-normal: bg,  fg,  bg,     hlbg,  hlfg
rofi.color-urgent: bg,  fg,  bg,     hlbg,  hlfg
rofi.color-active: bg,  fg,  bg,     hlbg,  hlfg

!                  'bg', 'border'
rofi.color-window:  bg,   bg      
